body{
    background-color: #C0BEBE;
    background-image: url(image/img81.jpg);
    background-position: center;
    background-size:cover;
    
  }

  .nav{
    color: #fff;
  }
*{
    padding: 0;
    margin: 0;
}

:root{
    --yellow: #f9d806;
    --light-yellow: #ffee80;
    --black: #130f40;
    --light-color: #666;
    --border:.1rem solid rgba(0,0,0,1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
font-family: 'Poppins', sans-serif;
margin:0;
padding:0;
box-sizing: border-box;
outline: none; border:none;
text-decoration: none;
text-transform: capitalize;
transition: all .2s linear;
}

html{
font-size: 62.5%;
overflow-x: hidden;
scroll-padding-top: 7rem;
scroll-behavior: smooth;
}

.btn{
display: inline-block;
margin-top: 1rem;
border-radius: .5rem;
background: var(--light-yellow);
color:var(--black);
font-weight: 500;
font-size: 1.7rem;
cursor: pointer;
padding:.8rem 3rem;
}

.btn:hover{
background: var(--yellow);
}

header{
    font-size: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.icon{
    width: 100px;
    float: left;
    height: 70px;
}

.logo{
    color: #fff;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 150px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.container{
min-height: 100vh;
background: #45f3ff;
display: flex;
justify-content: center;
align-items: center; 
background: url("jpg0.jpg") no-repeat center center/cover;

}
.container form{
width: 670px;
height: 400px;
display: flex;
border-radius: 15px;
justify-content: center; box-shadow: 20px 20px 50px rgba(0,0,0,0.5); background: rgba(250, 250, 250, 0.1);
backdrop-filter: blur(10px);
flex-wrap: wrap;
}
.container form h1{
color: orange;
font-weight: 500;
margin-top: 20px;
width: 500px;
text-align: center;
}
.container form input{
width: 290px;
height: 40px;
padding-left: 10px;
outline: none;
border: none;
font-size: 15px;
margin-bottom: 10px;
background: none;
border-bottom: 2px solid orange;
}
.container form input::placeholder{
color: #fff;
}
.container form #LastName,
.container form #Mobile{
margin-left: 20px;
}
.container form h4{
color: #fff;
font-weight: 300;
width: 600px;
margin-top: 20px;
}
.container form textarea{
background: none;
border: none;
border-bottom: 2px solid orange;
color: #45f3ff;
font-weight: 200;
font-size: 15px;
padding: 10px;
outline: none;
min-width: 600px;
max-width: 600px;
min-height: 80px;
max-height: 80px;
}
textarea::-webkit-scrollbar{
width: 1em;
}
textarea::-webkit-scrollbar-thumb{
background-color: rgba(194,194,194,0.713);
}
.container form #textbox{
border: none;
background: var(--yellow);
border-radius: 5px;
margin-top: 20px;
font-weight: 600;
font-size: 18px;
color: black;
width: 100px;
padding: 0;
margin-right: 500px;
margin-bottom: 30px;
transition: 0.3s;
}
.container form #textbox:hover{
opacity: 0.7;
}